.parentDiv {
    padding: 132px;
    border: 5px solid #050505;
    margin: 344px;
    margin-top: 56px;
    background-color: red;
}

.childDiv {
    padding: 100px;
    border: 5px solid #050505;
    margin: 2px;
    background-color: white;
}